.animated-div {
  opacity: 0;
  animation: appear 1s forwards;
}

@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.8);
    opacity: 1;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
